body > header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    top: 400px;
    width: auto;
    background-color: #facde4;
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
    }


    @media only screen and (min-width: 1024px) {
        .mainheader {
          float: left;
          width: 28vw;
          margin: 5.5em 0.5em 0.5em 1.5em;
        }
      }