nav {
background-color: #4056a1;
color: #FFFFFF;
top: 0;
left: 0;
right: 0;
padding: 1.5em;
height: 120px;
width: auto;
z-index: 400;
position: fixed;
}
  

  nav span:nth-child(1) {
    font-family: Bungee, sans-serif;
    float: left;
    font-size: 1.5em;
  }
  
 
  nav span:nth-child(2) {
    position: absolute;
    right: 1.5em;
    top: 1.5em;
  }
  
  nav i {
    position: absolute;
    right: 50%;
    bottom: -1.5em;
    color: #FF0000;
  }
  
  nav i:hover {
    color:#FF0000;
    font-size: 1.3em;
    bottom: -1.3em;
  }


  @media only screen and (max-width: 1024px) {
    nav {
      background-color: #facde4;
    background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
    }
  }





